.header {
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 1000;
}

.header a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
}

.header .logo{
    max-height: 32px;
}

.header .title-group {
    padding-left: 25px;
}

.header .title-group i {
    padding-right: 5px;
}

label {
    width: 175px;
    text-align: center;
    cursor:pointer;
}

@media (max-width: 600px) {
    a {
        font-size: 20px;
    }

    label {
        width: 125px;
        text-align: center;
        cursor:pointer;
    }

    .title-group > a {
        font-size: 15px;
    }
}