
.sidenav {
    background-color: #3f51b5;
    width: 200px;
    margin-top: 64px;
}

.sidenav i, span{
    color: white;
}

.sidenav i {
    margin-right: 10px;
}

.content {
    padding: 16px;
    background-color: white;
    margin-top: 64px;
}

@media (max-width: 600px) {
    .sidenav {
        width: 60px;
        margin-top: 55px;
    }

    span {
        display: none;
    }
}